<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
  <body>



<div class="container">

  <div class="box">
    <a href="">
      <img src="https://images.unsplash.com/photo-1782680722663-9b9dfac093ba?w=600&auto=format&fit=crop&q=60" alt="image">
    </a>
    <div class="caption">Lorem ipsum</div>
  </div>

  <div class="box">
    <a href="">
      <img src="https://images.unsplash.com/photo-1782902260162-ae2e48ecfc24?w=600&auto=format&fit=crop&q=60" alt="image">
    </a>
    <div class="caption">Lorem ipsum</div>
  </div>

  <div class="box">
    <a href="">
      <img src="https://images.unsplash.com/photo-1782496511163-2eaf103e55d9?w=600&auto=format&fit=crop&q=60" alt="image">
    </a>
    <div class="caption">Lorem ipsum</div>
  </div>

  <!-- Dynamic posts from database -->

  <% posts.forEach(function(post){ %>

    <div class="box">
      <a href="">
        <img src="/images/uploads/<%= post.image %>" alt="image">
      </a>

      <div class="caption">
        <strong>@<%= post.user.username %></strong><br>
        <%= post.imageText %>
      </div>
    </div>

  <% }) %>

</div>


	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="app.js"></script>

</body>
</html>
