<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div class="containerpers">
      <div class="cardpers">
        <div class="profile-picture">
          <img
            src="https://i.pinimg.com/1200x/5e/a9/8e/5ea98e932df9c794ab5ea242246201f0.jpg"
            alt="Profile Picture"
          />
        </div>
        <h2 class="name"><%=user.fullname%></h2>
        <h3 class="username">@<%=user.username%></h3>
        <p class="tagline">Some Tag Line</p>
        <p class="description">Some Description</p>
        <a href="/users" class="button">Logout</a>
        <form
          action="/users/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="text" name="filecaption" placeholder="some caption" />
          <input type="file" name="file" />
          <input type="submit" />
        </form>
      </div>
    </div>
    <div class="container">
      <div class="cards flex">
        <%user.posts.forEach(function(post){ %>
          <div class="card" style="width: 18rem">
            <img src="/images/uploads/<%= post.image %>"
            alt="..."
            />
          <div class="card-body">
            <h5 class="card-title"><%=post.imageText%></h5>
          </div>
        </div>
        <% })%>
      </div>
    </div>
  </body>
</html>
